<div class="small container">
    <div class="card">
        <div class="card-header">
            Fill in your debts!
        </div>
        <div class="card-body">
            <form novalidate class="form-inline" (ngSubmit)="simulateAndSave()" [formGroup]="debtForm">
            <div formArrayName="debts"
            *ngFor="let debt of debts.controls; let i=index">
                <div [formGroupName]="i">
                <div class="form-group">
                    <label for="balance" attr.for="{{ 'balanceId' + i}}">Balance</label>
                    <div>
                        <input class="form-control" id="{{ 'balanceId' + i}}" type="text" placeholder="Balance" required
                            formControlName="balance">
                    </div>
                    <span class="invalid-feedback">
                        <!-- <span *ngIf="debtForm?.get('balance')?.errors?['required']">
                    Please enter balance
                </span> -->
                    </span>
                </div>
                <div class="form-group">
                    <label for="payment" attr.for="{{ 'paymentId' + i}}">Payment</label>
                    <div>
                        <input class="form-control" id="{{ 'paymentId' + i}}" type="text" placeholder="Payment" required
                            formControlName="payment">
                    </div>
                    <span class="invalid-feedback">
                        <!-- <span *ngIf="debtForm?.get('payment')?.errors?['required']">
                Please enter payment
            </span> -->
                    </span>
                </div>
            </div>
            </div>
                <div class="form-group row mb-2">
                    <div class="offset-md-2 col-md-4">
                        <button class="btn btn-primary" type="submit">
                            Simulate
                        </button>
                    </div>
                    <div class="offset-md-2 col-md-4">
                        <button class="btn btn-primary" type="button"
                        (click)="addDebt()">
                            +
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>